{% extends "base.html" %}
{% block main %}
    <h3>Welcome to the JSON-configurator!</h3>
    <label>
        Enter your domain:
        <input type="text" name="domain" id="domainInput">
    </label>
    <button type="button" onclick="domainRedir()">Go</button>
<script>
    function domainRedir() {
        let old_location = document.location.href;
        document.location = old_location + "domain/" + document.getElementById("domainInput").value;
        console.log(old_location);
        console.log();
    }

</script>
{% endblock %}
